<div class="container-user">

    <div class="back-button">
        <button type="button" routerLink="/users">Voltar</button>
    </div>

    <form class="form-save" (ngSubmit)="update()">
        <h2>Gerenciar Usuário</h2>

        <label>Id:</label>
        <input class="id-cotainer" name="id" [disabled]="true" [value]="userResponse.id" />

        <label>Nome:</label>
        <input type="text" name="name" [(ngModel)]="userResponse.name" />

        <label>Email:</label>
        <input type="email" name="email" [(ngModel)]="userResponse.email" />

        <div class="button-cotainer">
            <button type="submit" class="edit-button">Salvar Alterações</button>

            <button type="button" class="delete-button" (click)="delete()">Deletar Usuário</button>
        </div>
    </form>
</div>