<div class="container-user">

  <form class="form-save" (ngSubmit)="save()">
    <h2>Cadastro de Novos Usuários</h2>

    <label>Nome:</label>
    <input type="text" [(ngModel)]="userRequest.name" name="name" />

    <label>Email:</label>
    <input type="email" [(ngModel)]="userRequest.email" name="email" />

    <button type="submit" class="save-button">Salvar</button>

  </form>


  <div class="list-container">
    <h2>Lista de Usuários</h2>

    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Deletar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>#{{ u.id }}</td>
          <td>{{ u.name }}</td>
          <td>{{ u.email }}</td>

            <td class="delete-cotainer">

              <button class="delete-button" (click)="delete(u.id)">
                <mat-icon>delete_outline</mat-icon>
              </button>
              
            </td>

        </tr>
        <tr *ngIf="users.length === 0">
          <td colspan="4">Nenhum usuário cadastrado.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>